.team-container {
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    max-width: 512px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.team {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.our-team {
  background: #f7f7f7;
  .sub-title {
    color: #303030;
    &::before {
      border-bottom: 1px solid #303030;
    }
  }
  img {
    margin-bottom: 30px;
  }
  .item {
    text-align: center;
    margin-bottom: 64px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 15px * 6) / 3);
      margin: 15px;
    }
  }
  .title {
    margin-bottom: 44px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #303030;
  }

  .name {
    margin-bottom: 8px;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #303030;
  }
  .position {
    margin-bottom: 30px;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #ff6c00;
  }
  .icon {
    fill: currentColor;
  }

  .social-media {
    display: flex;
    justify-content: center;

    .social-item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: #303030;
        border-radius: 50%;
        background: #fff;
        transition: color 250ms ease-in;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
